body {
	background: Aquamarine;
	color: pink; font: 22px Arial;
	text-align:center;
}
h1 {
	color: indigo; font: bold 142px Curlz MT;
}
h2 {
	color: indigo; font: bold 32px Curlz MT;
}
h3 {
	color: indigo; font: bold 22px Curlz MT;
}
h4 {
	color: indigo; font: bold 12px Curlz MT;
}